{
  "root": true,
  "parserOptions": {
    "tsconfigRootDir": ".",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "extraFileExtensions": [".vue"],
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "es6": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended",
    "prettier"
  ]
}
